<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Notes And Code</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h2>Download C Language Notes :</h2>
    <a href="/c_language"class="download_btn"> <i class="fa fa-download"></i>&ensp;Download</a>
    <h2>Download HTML Language Notes :</h2>
    <a href="/html_language"class="download_btn"> <i class="fa fa-download"></i>&ensp;Download</a>
</body>
</html>
<style>
    
    .download_btn{
        background-color: dodgerblue;
        color: white;
        padding: 14px;
        font-size: 33px;
        text-decoration: none;
    }
    .download_btn:hover{
        background-color: royalblue;
        padding: 10px;
    }

    @media screen and (max-width:1024px) {
        .download_btn{
            font-size: 51px;
        }
    }
</style>